:root{
	--hour-display-font-size	: 1.2em;

	--teacher-color-pop-up				: #0000ff;
	--absent-teacher-color-pop-up		: #ff0000;
	--substitution-teacher-color-pop-up	: #ffff00;

	--teacher-background-pop-up					: #0000ff0a;
	--absent-teacher-background-pop-up			: #ff00000a;
	--substitution-teacher-background-pop-up	: #ffff000a;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~

 !	[ OUTER CONTAINER SECTION ]

	~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.schedulerWrap{
	display        : flex;
	flex-direction : column;
}
.topWrap, .bottomWrap{
	display        : flex;
	flex-direction : row;
}
.bottomWrap{ 
	height : 100% 
}



/*  ~~~~~~~~~~~~~~~~~~~~~

 !	[ LEFT HOUR DISPLAY ]

	~~~~~~~~~~~~~~~~~~~~~ */

.hourDisplayContainer{
	height          : 100%;
	font-size       : var(--hour-display-font-size);
	display         : flex;
	flex-direction  : column;
	justify-content : space-between;
	text-align      : end;
}
.hourDisplay{
	display        : flex;
	height         : 100%;
	width          : 100%;
	flex-direction : row-reverse;
	align-items    : flex-end;
}
.hourLabel{
	width     : fit-content;
	height    : fit-content;
}



/*  ~~~~~~~~~~~~~~~~~~~~

 !	[ HOUR INDENTATION ]

	~~~~~~~~~~~~~~~~~~~~ */

.indentationWrap{
	display: flex;
	height: 100%;
	flex-direction: column;
}
.indentationBox{
	width: 100%;
}
.indentationBox:first-child{
	border-top: 0 !important;
}


/*  ~~~~~~~~~~~~~~~~~~~~

 !	[ TOP WEEK DISPLAY ]

	~~~~~~~~~~~~~~~~~~~~*/

.schedulerDayContainer{
	display        : flex;
	flex-direction : row;
	width          : 100%;
}
.schedulerDayContainer > div {
	width : 20%;
}
.schedulerDay{
	display : center;
}
.schedulerDay > div {
	display       : grid;
	place-content : center;
}
.schedulerDay > div > span {
	display       : block;
	text-align    : center;
	width         : 50px;
	line-height   : 50px;
	aspect-ratio  : 1 / 1;
	border-radius : 100vw;
}



/*  ~~~~~~~~~~~~~~~~~~~~~~~

 !	[ SCHEDULE HOURS GRID ]

	~~~~~~~~~~~~~~~~~~~~~~~ */

.HourGridContainer{
	display : grid;
}
.HourGridCellDataWrap{
	height        : 100%;
}
.HourGridCellData{
	display       : grid;
	place-content : center;
	height        : 100%;
}



/*  ~~~~~~~~~~~~~~~~~~~~

 !	[ CELL DATA POP-UP ]

	~~~~~~~~~~~~~~~~~~~~ */

.popUpWrapper{
	position    : absolute;
	background-color: white;
	box-shadow  : 0px 17px 25px 4px rgba(0,0,0,0.5);
	transform   : translate(0, -20%);
	place-items : center;
}
.popUpHeader{
	width: 100%;
	padding: 4px 0;
}
.wrapPopUpTeachers{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 6px 0px;
	gap: 6px
}
.popUpTeacher{
	padding: 0 6px;
	display: flex;
	justify-content: space-between;
	height: max-content;
}
.popUpTeacherLabel{
	display: flex;
	align-items: center;
	gap : 0.45em;
}
.popUpTeacherLabel > span{
	display: grid;
	place-content: center;
	height: 100%;
}
.popUpTeacherButton{
	padding: 2px 6px;
	border: 1px solid;
	border-radius: 2px;
	width: 111px;
	display: grid;
	place-content: center;
}